# export fgrid and fault id files from Petrel and make sure these two files are exported using the same setting (i.e., same cell setting)

# extract information for each cell from a fgrid file

In [1]:
from extract_fgrid_file import extract_fgrid_file
df = extract_fgrid_file('data/JD_Sula_2025_flow.fgrid')
df

Total cells processed: 989001

          i    j   k  cell_id         x_ave         y_ave         z_ave
0         1    1   1        1  2.833605e+06  1.942600e+06  2.780636e+06
1         2    1   1        2  2.833790e+06  1.942785e+06  2.780760e+06
2         3    1   1        3  2.833975e+06  1.942970e+06  2.780883e+06
3         4    1   1        4  2.834160e+06  1.943155e+06  2.781006e+06
4         5    1   1        5  2.834345e+06  1.943340e+06  2.781130e+06
...     ...  ...  ..      ...           ...           ...           ...
988996  103  117  79   988997  2.830662e+06  1.946816e+06  2.771367e+06
988997  104  117  79   988998  2.830847e+06  1.947000e+06  2.771490e+06
988998  105  117  79   988999  2.831032e+06  1.947185e+06  2.771613e+06
988999  106  117  79   989000  2.831217e+06  1.947370e+06  2.771736e+06
989000  107  117  79   989001  2.831403e+06  1.947555e+06  2.771860e+06

[989001 rows x 7 columns]

# decompress fault id file and attach it to the cell info dataframe

In [2]:
from CMG_format_decompress import CMG_format_decompress
fault_id = CMG_format_decompress('data/JD_Sula_2025_flow_fault_id.GRDECL')
print(fault_id.shape)
df['fault_id'] = fault_id
df['fault_id'] = df['fault_id'].astype(int)
df

(989001,)

,i,j,k,cell_id,x_ave,y_ave,z_ave,fault_id
0,1,1,1,1,2.833605e+06,1.942600e+06,2.780636e+06,-999
1,2,1,1,2,2.833790e+06,1.942785e+06,2.780760e+06,-999
2,3,1,1,3,2.833975e+06,1.942970e+06,2.780883e+06,-999
3,4,1,1,4,2.834160e+06,1.943155e+06,2.781006e+06,-999
4,5,1,1,5,2.834345e+06,1.943340e+06,2.781130e+06,-999
...,...,...,...,...,...,...,...,...
988996,103,117,79,988997,2.830662e+06,1.946816e+06,2.771367e+06,-999
988997,104,117,79,988998,2.830847e+06,1.947000e+06,2.771490e+06,-999
988998,105,117,79,988999,2.831032e+06,1.947185e+06,2.771613e+06,-999
988999,106,117,79,989000,2.831217e+06,1.947370e+06,2.771736e+06,-999
989000,107,117,79,989001,2.831403e+06,1.947555e+06,2.771860e+06,-999

# save data

In [3]:
df.to_csv('results/JD_Sula_2025_flow_fault.csv', index=False)